<launch>
      <arg name="max_x" default="1.0" />
      <arg name="max_z" default="6.0"/>
      <arg name="deadzone" default="0.05" />

      <arg name="com_port" default="/dev/ttyUSB0" />
      <arg name="lidar_port" default="/dev/ttyUSB1" />
      <arg name="joy_dev" default="/dev/input/js0"/>

      <!-- lidar -->
      <node name="rplidarNode"          pkg="rplidar_ros"  type="rplidarNode" output="screen">
            <param name="serial_port"         type="string" value="$(arg lidar_port)"/>
            <param name="serial_baudrate"     type="int"    value="115200"/>
            <param name="frame_id"            type="string" value="laser_link"/>
            <param name="inverted"            type="bool"   value="false"/>
            <param name="angle_compensate"    type="bool"   value="true"/>
      </node>


      <!-- camera -->
      <include file="$(find astra_camera)/launch/astra_pro.launch">
            <arg name="camera_name" value="camera"/>
            <arg name="depth_align" value="true"/>
            <arg name="enable_point_cloud" value="true"/>
            <arg name="enable_point_cloud_xyzrgb" value="true"/>
            <arg name="enable_color" value="true"/>
            <arg name="enable_depth" value="true"/>
            <arg name="enable_ir" value="true"/>           
      </include>

      <!-- URDF  -->
      <include file="$(find car)/launch/urdf.launch"/>

      <!-- joy_cmd  -->
      <include file="$(find car)/launch/joy_cmd.launch">
            <arg name="com_port" value="$(arg com_port)"/>
            <arg name="joy_dev" value="$(arg joy_dev)"/>
            <arg name="max_x" value="$(arg max_x)"/>
            <arg name="max_z" value="$(arg max_z)"/>
            <arg name="deadzone" value="$(arg deadzone)"/>
      </include>

      <!-- rtabmap_lidar -->
      <include file="$(find car)/launch/rtabmap.launch">
            <arg name="delete_db_on_start" value="true"/>
      </include>

</launch>