<launch>
    
    <!-- camera -->
    <include file="$(find astra_camera)/launch/astra_pro.launch">
        <arg name="camera_name" value="camera"/>
        <arg name="depth_align" value="true"/>
        <arg name="enable_point_cloud" value="true"/>
        <arg name="enable_point_cloud_xyzrgb" value="true"/>
        <arg name="enable_color" value="true"/>
        <arg name="enable_depth" value="true"/>
        <arg name="enable_ir" value="true"/>           
    </include>

    <node pkg="car"
        type="yolo.py"
        name="yolo"
        output="screen">

        <!-- RGB -->
        <param name="image_topic"
            value="/camera/color/image_raw"/>

        <!-- Depth -->
        <param name="depth_topic"
            value="/camera/depth/image_raw"/>

        <!-- RGB Camera Intrinsics -->
        <param name="camera_info_topic"
            value="/camera/color/camera_info"/>

        <!-- YOLO -->
        <param name="model"
            value="/ros_ws/src/car/models/yolov8n.pt"/>

        <param name="conf"
            value="0.5"/>

        <param name="iou"
            value="0.45"/>

        <param name="imgsz"
            value="640"/>

        <param name="device"
            value="cpu"/>

        <!-- 每張都辨識 -->
        <param name="inference_every_n_frames"
            value="1"/>

        <!-- bbox 中央 40% 計算 depth -->
        <param name="depth_center_ratio"
            value="0.4"/>

        <param name="min_depth"
            value="0.15"/>

        <param name="max_depth"
            value="8.0"/>

        <rosparam param="dynamic_classes">
            [
                "person",
                "bicycle",
                "car",
                "motorcycle",
                "bus",
                "truck",
                "dog"
            ]
        </rosparam>

    </node>

</launch>