<launch>
    
    <!-- camera -->
    <include file="$(find astra_camera)/launch/astra_pro.launch">
        <arg name="camera_name" value="camera"/>
        
        <arg name="depth_align" value="true"/>
        <arg name="enable_point_cloud" value="true"/>
        <arg name="enable_point_cloud_xyzrgb" value="true"/>
        <arg name="enable_color" value="true"/>
        <arg name="enable_depth" value="true"/>
        <arg name="enable_ir" value="true"/>           
    </include>

    <include file="$(find car)/launch/yolo_fast.launch">
        <arg name="image_topic" value="/camera/color/image_raw"/>
        <arg name="depth_topic" value="/camera/depth/image_raw"/>
        <arg name="camera_info_topic" value="/camera/color/camera_info"/>
        <arg name="model" value="$(find car)/models/yolo26n_ncnn_model"/>
    </include>
    <!--
    <node pkg="car"
        type="yolo.py"
        name="yolo"
        output="screen">
        <env name="LD_PRELOAD" value="/usr/lib/aarch64-linux-gnu/libgomp.so.1" />
        <param name="image_topic"
            value="/camera/color/image_raw"/>

        <param name="depth_topic"
            value="/camera/depth/image_raw"/>

        <param name="camera_info_topic"
            value="/camera/color/camera_info"/>

        <param name="model"
            value="$(find car)/models/yolo26n_ncnn_model"/>

        <param name="conf"
            value="0.5"/>

        <param name="iou"
            value="0.45"/>

        <param name="imgsz"
            value="640"/>

        <param name="device"
            value="cpu"/>

        <param name="inference_every_n_frames"
            value="5"/>

        <param name="depth_center_ratio"
            value="0.4"/>

        <param name="min_depth"
            value="0.15"/>

        <param name="max_depth"
            value="8.0"/>

        <rosparam param="dynamic_classes">
            [
                "person",
                "bicycle",
                "car",
                "motorcycle",
                "bus",
                "truck",
                "dog"
            ]
        </rosparam>

    </node>
    -->

</launch>