<launch>
    <arg name="rvizconfig" default="$(find car)/rviz/show_car.rviz" />

    <node pkg="rviz"
          type="rviz"
          name="rviz"
          args="-d $(find car)/rviz/show_car.rviz"
          output="screen" />
</launch>


<!--

  roslaunch foxglove_bridge foxglove_bridge.launch max_queue_size:=500 client_topic_buffer_limit:=104857600
-->